; This is false to avoid issues in GitHub actions
git-checks = false

; pnpm config
; Require explicit linking of workspace packages with `workspace:xxx` protocol
link-workspace-packages = false
; A single root-level lock file
; Set to `false` to generate a separate lockfile per project,
; which can then be used to trigger CI scripts when changed
shared-workspace-lockfile = true
publish-branch = main

